.container div {
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
}

.container {
  display: grid;
  /* No exemplo abaixo temos 4 colunas:
  1 - largura mínima de 100px e máxima de 800px
  2 e 3 (repeat) - largura mínima de 100px e máxima de 300px
  4 - largura míníma auto e máxima também auto */
  grid-template-columns: minmax(100px, 800px) repeat(2, minmax(100px, 300px)) minmax(auto, auto);
}