@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap");

.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.logo-image img {
  width: 45px;
  height: 42px;
  margin-right: 6px;
}

.logo-texto {
  font-family: "Public Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding: 15px;
  font-family: "Public Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  width: 127px;
  height: 39px;
  flex-shrink: 0;
  background-color: #5bc241;
  border-radius: 5px;
  border: none;
  color: #fff;
}
